bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

node_modules/
dist/
build/
.env
.env.*
!.env.example

docs/
api/src/Joviq.Lms.Api/appsettings.Development.json
api/src/Joviq.Lms.Api/appsettings.Local.json
api/src/Joviq.Lms.Api/wwwroot/uploads/

*.log
logs/
*/logs/
